<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> -->
    <title>Home</title>
    {{ bootstrap.load_css() }}

    <style>
        h1{
            padding-top: 20px; 
        }

        #playerSearch, #searchButton {
            height: min-content; 
        }

        .slots-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; 
            margin-top: 20px;
        }

        .slot, .slot-header {
            display: flex;
            width: 100%;
            max-width: 1000px;
            margin-bottom: 5px;
            padding: 10px;
            background-color: #34495e;
            color: white;
        }

        .slot .col-3 , .slot-header .col-3{
            flex: 1; 
        }

        .slot .col-2 , .slot-header .col-2{
            flex: 0.75; 
        }

        .slot div:last-child, .slot-header div:last-child {
            border-right: none; 
        }

        .slot-header div, .slot div {
            font-weight: bold;
            padding: 10px;
            border-right: 1px solid #ccc;
        }

        .slot-header div {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1 class="text-center"> Soccerdle </h1>
    <br><br>
    <!-- HINT FUNCTIONALITY  -->
    <div id="hintImage">
        <img src="{{guess_this_player.image}}" alt="">
    </div>
    <button onclick="showHintImage()"> HINT </button>
    <!-- END OF HINT FUNCTIONALITY -->
    <div class="d-flex">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 220px;">
            <!-- <span class="fs-4">Menu</span> -->
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#instructionsModal">
                    Instructions
                </a>
            </li>
            </ul>
            <hr>
        </div>

        <select name="players" id="playersSelect">
            {% for league, players in dict_of_players.items() %}
                {% for player in players %}
                    <option value="{{player.name}}" id="{{player.name}}"> {{player.name}} </option>
                {% endfor %}
            {% endfor%}
        </select>

        <div class="search-container input-group input-wrapper hoverable-menu activated" style="padding-right: 40px; align-items: center;">
            <input id="playerGuess" type="text" class="form-control" placeholder="Make Your Guess..." id="playerSearch">
            <button class="btn btn-primary" id="searchButton">Submit Guess</button>
        </div>
    </div>


    <div id="slotsContainer" class="slots-container">
        <div class="slot-header">
            <div class="col-3">Player Name</div>
            <div class="col-2">Position</div>
            <div class="col-2">Team</div>
            <div class="col-2">Goals</div>
            <div class="col-2">Assists</div>
            <div class="col-2">League</div>
            <div class="col-2">Age</div>
            <div class="col-2">Nationality</div>
        </div>
        

        <!-- So I am invisioning a list or dictionary of user guesses (with the player data) that you can loop thorugh & display 
        here each time a guess is made. Just because I feel like we can reuse this div setup instead of hardcoding the slots 
        and figuring out which guess they are on -->
        <div class="slot">
            <div class="col-3">
                <strong id="playerName"></strong>
            </div>
            <div id="playerPosition" class="col-2"></div>
            <div id="playerTeam" class="col-2"></div>
            <div id="playerGoals" class="col-2"></div>
            <div id="playerAssists" class="col-2"></div>
            <div id="playerLeague" class="col-2"></div>
            <div id="playerAge" class="col-2"></div>
            <div id="playerNationality" class="col-2"></div>
        </div>

        <!-- <div id="guess2" class="slot"> -->

        </div>
    </div>





    <!-- MODAL BELOW -->

    <div class="modal fade" id="instructionsModal" tabindex="-1" aria-labelledby="instructionsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="instructionsModalLabel">Welcome to Game Name!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Here are the instructions for the game. Follow them carefully to succeed!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script>
        // Show the modal on page load
        document.addEventListener('DOMContentLoaded', function () {
            const modal = new bootstrap.Modal(document.getElementById('instructionsModal'));
            modal.show();
        });

        // Hint Functionality

        // Idea for hint
        // Allow player to show button (which shows image) 
        // only if the player has reach the final guess
        document.getElementById("hintImage").style.display = "none"

        
        function showHintImage()
        {
            if(document.getElementById("hintImage").style.display == "none")
            {
                document.getElementById("hintImage").style.display = "block"
            }else
            {
                document.getElementById("hintImage").style.display = "none"
            }
        }

        // End Hint Functionality

        // var userInput = document.getElementById("playerGuess")

        // document.addEventListener("input", function (){
        //     console.log(userInput.value)
        // })

        
        const submitButton = document.getElementById("searchButton")
        var guesses = 0;
        var guessAllowed = 8;
        
        submitButton.addEventListener("click", function (){
            const selection = document.getElementById("playersSelect")
            console.log(selection.value)
            if(guesses < 8)
            {
                if (selection.value == "{{guess_this_player.name}}") {
                    console.log("YOU WIN")
                }else
                {
                    guesses++;
                    "{% for league, players in dict_of_players.items() %}"
                        "{% for player in players %}"
                            if(selection.value == "{{player.name}}")
                            {
                                if(guesses == 1)
                                {
                                    console.log("FOUND")
                                    document.getElementById("playerName").innerHTML = "{{ player.name }}"
                                    document.getElementById("playerTeam").innerHTML = "{{ player.team }}"
                                    document.getElementById("playerGoals").innerHTML = "{{ player.goals }}"
                                    document.getElementById("playerAssists").innerHTML = "{{ player.assists }}"
                                    document.getElementById("playerLeague").innerHTML = "{{ player.league }}"
                                    document.getElementById("playerAge").innerHTML = "{{ player.age }}"
                                    document.getElementById("playerPosition").innerHTML = "{{ player.position }}"
                                    document.getElementById("playerNationality").innerHTML = "{{ player.nationality }}"
                                }else
                                {
                                    const slotsContainer = document.getElementById("slotsContainer")
                                    const outerDIV = document.createElement("div")
                                    outerDIV.setAttribute("id", `guess${guesses}`)
                                    outerDIV.setAttribute("class", "slot")
                                    slotsContainer.appendChild(outerDIV)
                                    const nameDIV = document.createElement("div")
                                    nameDIV.setAttribute("class", "col-3")
                                    outerDIV.appendChild(nameDIV)
                                    const name = document.createElement("strong")
                                    nameDIV.appendChild(name)
                                    name.innerHTML = "{{player.name}}"
                                    const position = document.createElement("div")
                                    position.setAttribute("class", "col-2")
                                    position.innerHTML = "{{player.position}}"
                                    const team = document.createElement("div")
                                    team.setAttribute("class", "col-2")
                                    team.innerHTML = "{{player.team}}"
                                    const goals = document.createElement("div")
                                    goals.setAttribute("class", "col-2")
                                    goals.innerHTML = "{{player.goals}}"
                                    const assists = document.createElement("div")
                                    assists.setAttribute("class", "col-2")
                                    assists.innerHTML = "{{player.assists}}"
                                    const league = document.createElement("div")
                                    league.setAttribute("class", "col-2")
                                    league.innerHTML = "{{player.league}}"
                                    const age = document.createElement("div")
                                    age.setAttribute("class", "col-2")
                                    age.innerHTML = "{{player.age}}"
                                    const nationality = document.createElement("div")
                                    nationality.setAttribute("class", "col-2")
                                    nationality.innerHTML = "{{player.nationality}}"
                                    outerDIV.appendChild(position)
                                    outerDIV.appendChild(team)
                                    outerDIV.appendChild(goals)
                                    outerDIV.appendChild(assists)
                                    outerDIV.appendChild(league)
                                    outerDIV.appendChild(age)
                                    outerDIV.appendChild(nationality)
                                    // outerDIV.appendChild()
                                }
                                console.log(guesses)
                            }
                        "{% endfor %}"
                    "{% endfor%}"
                }
                
            }else{
                console.log("OUT OF GUESSES")
            }

        })

        
    </script>
</body>
</html>