<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> -->
    <title>Home</title>
    {{ bootstrap.load_css() }}

    <style>
        h1{
            padding-top: 20px; 
        }

        #playerSearch, #searchButton {
            height: min-content; 
        }

        .slots-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; 
            margin-top: 20px;
        }

        .slot, .slot-header {
            display: flex;
            width: 100%;
            max-width: 1000px;
            margin-bottom: 5px;
            padding: 10px;
            background-color: #34495e;
            color: white;
        }

        .slot .col-3 , .slot-header .col-3{
            flex: 1; 
        }

        .slot .col-2 , .slot-header .col-2{
            flex: 0.75; 
        }

        .slot div:last-child, .slot-header div:last-child {
            border-right: none; 
        }

        .slot-header div, .slot div {
            font-weight: bold;
            padding: 10px;
            border-right: 1px solid #ccc;
        }

        .slot-header div {
            font-weight: bold;
        }

        #btnDiv, #hintDiv{
            text-align: center;
        }

        #playersSelect{
            height: min-content;
            padding: 9px;
            margin-right: 15px;
        }

        #correct{
            background-color: #6fcf6f;
            color:black;
            display: inline;
        }

        #close{
            color:black;
            background-color: #f5c542;
            display: inline;
        }

        #incorrect{
           background-color: #38485C;
           display: inline;
        }

    </style>
</head>
<body>
    <h1 class="text-center"> Soccerdle </h1>
    <br><br>

    <!-- Div to display the hint img -->

    <!-- Feel free to change/remove the width once the Pillow image is implemented -->

    <div id="hintDiv" style="display: none;">
        {% if hint_image %}
            <img id="playerImage"src="{{ hint_image }}" alt="Hint Silhouette" width="50">     
        {% endif %}
    </div>

    <div class="d-flex">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 220px;">
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#instructionsModal">
                    Instructions
                </a>
            </li>
            </ul>
            <hr>
        </div>


        <div class="search-container input-group input-wrapper hoverable-menu activated" style="margin-left: 20%; align-items: center;">
            <select name="players" id="playersSelect">
                <option>Search or explore players to guess</option>
                {% for league, players in dict_of_players.items() %}
                    {% for player in players %}
                        <option value="{{player.name}}" id="{{player.name}}"> {{player.name}} </option>
                    {% endfor %}
                {% endfor%}
            </select>
            <button class="btn btn-primary" id="searchButton">Submit Guess</button>
        </div>
    </div>

    <div id="btnDiv">
        <button id="userHint" class="btn btn-primary" type="submit" >Hint</button>
    </div>


    <div id="slotsContainer" class="slots-container">
        <div class="slot-header">
            <div class="col-3">Player Name</div>
            <div class="col-2">Position</div>
            <div class="col-2">Team</div>
            <div class="col-2">Goals</div>
            <div class="col-2">Assists</div>
            <div class="col-2">League</div>
            <div class="col-2">Age</div>
            <div class="col-2">Nationality</div>
        </div>
        

        <!-- So I am invisioning a list or dictionary of user guesses (with the player data) that you can loop thorugh & display 
        here each time a guess is made. Just because I feel like we can reuse this div setup instead of hardcoding the slots 
        and figuring out which guess they are on -->
        <div class="slot">
            <div class="col-3">
                <strong id="playerName"></strong>
            </div>
            <div id="playerPosition" class="col-2"></div>
            <div id="playerTeam" class="col-2"></div>
            <div id="playerGoals" class="col-2"></div>
            <div id="playerAssists" class="col-2"></div>
            <div id="playerLeague" class="col-2"></div>
            <div id="playerAge" class="col-2"></div>
            <div id="playerNationality" class="col-2"></div>
        </div>

        <!-- <div id="guess2" class="slot"> -->

        </div>
    </div>







    <!-- MODAL BELOW -->

    <div class="modal fade" id="instructionsModal" tabindex="-1" aria-labelledby="instructionsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="instructionsModalLabel">Welcome to Soccerdle!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Follow these instructions carefully to succeed! 
                    <!-- <br>  -->
                    <ol>
                        <li>
                            <strong>Objective: </strong> Guess the correct soccer player. You'll have 8 attempts to identify the player 
                        </li>
                        <li> 
                            <strong> Starting the Game: </strong> On your first guess, type the name of any soccer player in the search bar. 
                            <ul>
                               <li>An auto-complete feature will assist you in selecting a valid player name. </li>
                            </ul>
                        </li>
                        <li> 
                            <strong>Hints: </strong> You can click the "Hint" button to toggle a silhouette of the player if you're stuck. 
                        </li>
                        <li> 
                            <strong>Search Results: </strong> After each guess, you'll be provided with color-coded feedback to help you refine your next guesses. 
                            <ul>
                                <li id="correct">Green: Correct </li>
                                <br>
                                <li id="close">Yellow: Close! </li>
                                <br>
                                <li id="incorrect"><strong>No color: Incorrect</strong></li>
                            </ul>
                        </li>
                        <li> 
                            <strong>Ending the Game: </strong> Guess the correct soccer player within 8 attempts to win! Regardless, you will be shown a detailed profile of the player and their stats at the end.
                        </li>
                        <li> 
                            <strong>Additional Features: </strong>
                            <ul>
                                <li>
                                    Access the instructions at any time by clicking the "Instructions" button in the navigation menu. 
                                </li>
                                <li>
                                    After completing a game, click the "Play Again" button to start a new round with a different player.
                                </li>
                            </ul>
                        </li>
                        
                    </ol>                    
                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="winModal" tabindex="-1" aria-labelledby="winModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="winModalLabel">YOU WIN!!!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Player Stats Here  -->
                                     
                    
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="loseModal" tabindex="-1" aria-labelledby="loseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loseModalLabel">You Lose :(</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Player Stats Here  -->
                    
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script>
        // Show the modal on page load
        document.addEventListener('DOMContentLoaded', function () {
            if (!sessionStorage.getItem('modalShown')) {
                const modal = new bootstrap.Modal(document.getElementById('instructionsModal'));
                modal.show();
                sessionStorage.setItem('modalShown', true);
            }
        });


        const userHintButton = document.getElementById('userHint');
        const hintDiv = document.getElementById('hintDiv');
        
        userHintButton.addEventListener('click', function () {
            if (hintDiv.style.display === 'none' || hintDiv.style.display === '') {
                hintDiv.style.display = 'block'; 
            } else {
                hintDiv.style.display = 'none'; 
            }
        });


        const submitButton = document.getElementById("searchButton")
        var guesses = 0;
        var guessAllowed = 8;
        var win = false;
        console.log("Correct Player: " + "{{guess_this_player.name}}")

        const playerImage = document.getElementById("silhouetteIMG")
        
        submitButton.addEventListener("click", function (){
            const selection = document.getElementById("playersSelect")
            console.log(selection.value)
            if(guesses < 8 && !win)
            {
                if (selection.value == "{{guess_this_player.name}}") 
                {
                    win = true;
                    endGame(win);
                }
                guesses++;
                "{% for league, players in dict_of_players.items() %}"
                    "{% for player in players %}"
                        if(selection.value == "{{player.name}}")
                        {
                            if(guesses == 1)
                            {
                                console.log("FOUND")
                                document.getElementById("playerName").innerHTML = "{{ player.name }}"

                                if("{{ guess_this_player.team }}" === "{{ player.team }}"){
                                    document.getElementById("playerTeam").innerHTML = "✔ {{ player.team }}";
                                    document.getElementById("playerTeam").style.backgroundColor = "#6fcf6f";
                                    document.getElementById("playerTeam").style.borderRadius = "3px";
                                    document.getElementById("playerTeam").style.margin = "0 10px";
                                    
                                }else{
                                    document.getElementById("playerTeam").innerHTML = "{{ player.team }}";
                                }

                                if("{{ guess_this_player.goals}}" === "{{ player.goals}}"){
                                    document.getElementById("playerGoals").innerHTML = "✔ {{ player.goals }}";
                                    document.getElementById("playerGoals").style.backgroundColor = "#6fcf6f";
                                    document.getElementById("playerGoals").style.borderRadius = "3px";
                                    document.getElementById("playerGoals").style.margin = "0 10px";

                                }else if(Math.abs(parseInt("{{ guess_this_player.goals }}") - parseInt("{{ player.goals }}")) <= 2){
                                    document.getElementById("playerGoals").innerHTML = "{{ player.goals }}";
                                    document.getElementById("playerGoals").style.backgroundColor = "#f5c542"; 
                                    document.getElementById("playerGoals").style.borderRadius = "3px";
                                    document.getElementById("playerGoals").style.margin = "0 10px";

                                }else{
                                    document.getElementById("playerGoals").innerHTML = "{{ player.goals }}"
                                }

                                if("{{ guess_this_player.assists}}" === "{{ player.assists}}"){
                                    document.getElementById("playerAssists").innerHTML = "✔ {{ player.assists }}";
                                    document.getElementById("playerAssists").style.backgroundColor = "#6fcf6f";
                                    document.getElementById("playerAssists").style.borderRadius = "3px";
                                    document.getElementById("playerAssists").style.margin = "0 10px";

                                }else if(Math.abs(parseInt("{{ guess_this_player.assists }}") - parseInt("{{ player.assists }}")) <= 2){
                                    document.getElementById("playerAssists").innerHTML = "{{ player.assists }}";
                                    document.getElementById("playerAssists").style.backgroundColor = "#f5c542"; 
                                    document.getElementById("playerAssists").style.borderRadius = "3px";
                                    document.getElementById("playerAssists").style.margin = "0 10px";

                                }else{
                                    document.getElementById("playerAssists").innerHTML = "{{ player.assists }}"
                                }


                                if("{{ guess_this_player.position }}" === "{{ player.position }}"){
                                    document.getElementById("playerPosition").innerHTML = "✔ {{ player.position }}";
                                    document.getElementById("playerPosition").style.backgroundColor = "#6fcf6f";
                                    document.getElementById("playerPosition").style.borderRadius = "3px";
                                    document.getElementById("playerPosition").style.margin = "0 10px";
                                    
                                }else{
                                    document.getElementById("playerPosition").innerHTML = "{{ player.position }}"
                                }

                                if("{{ guess_this_player.league }}" === "{{ player.league }}"){
                                    document.getElementById("playerLeague").innerHTML = "✔ {{ player.league }}";
                                    document.getElementById("playerLeague").style.backgroundColor = "#6fcf6f";
                                    document.getElementById("playerLeague").style.borderRadius = "3px";
                                    document.getElementById("playerLeague").style.margin = "0 10px";
                                    
                                }else{
                                    document.getElementById("playerLeague").innerHTML = "{{ player.league }}";
                                }
                                


                                if("{{ guess_this_player.age}}" === "{{ player.age}}"){
                                    document.getElementById("playerAge").innerHTML = "✔ {{ player.age}}";
                                    document.getElementById("playerAge").style.backgroundColor = "#6fcf6f";
                                    document.getElementById("playerAge").style.borderRadius = "3px";
                                    document.getElementById("playerAge").style.margin = "0 10px";

                                }else if(Math.abs(parseInt("{{ guess_this_player.age }}") - parseInt("{{ player.age }}")) <= 2){
                                    document.getElementById("playerAge").innerHTML = "{{ player.age }}";
                                    document.getElementById("playerAge").style.backgroundColor = "#f5c542"; 
                                    document.getElementById("playerAge").style.borderRadius = "3px";
                                    document.getElementById("playerAge").style.margin = "0 10px";

                                }else{
                                    document.getElementById("playerAge").innerHTML = "{{ player.age }}";
                                }  
                                
                                

                                if("{{ guess_this_player.nationality }}" === "{{ player.nationality }}"){
                                    document.getElementById("playerNationality").innerHTML = "✔ {{ player.nationality }}";
                                    document.getElementById("playerNationality").style.backgroundColor = "#6fcf6f";
                                    document.getElementById("playerNationality").style.borderRadius = "3px";
                                    document.getElementById("playerNationality").style.margin = "0 10px";
                                    
                                }else{                                    
                                    document.getElementById("playerNationality").innerHTML = "{{ player.nationality }}";
                                }
                                   
                            }else
                            {
                                const slotsContainer = document.getElementById("slotsContainer")
                                const outerDIV = document.createElement("div")
                                outerDIV.setAttribute("id", `guess${guesses}`)
                                outerDIV.setAttribute("class", "slot")
                                slotsContainer.appendChild(outerDIV)

                                const guessDIV = document.createElement("div")
                                outerDIV.appendChild(guessDIV)
                                const guessP = document.createElement("p")
                                guessDIV.appendChild(guessP)
                                guessP.innerHTML = guesses

                                const nameDIV = document.createElement("div")
                                nameDIV.setAttribute("class", "col-3")
                                outerDIV.appendChild(nameDIV)

                                const name = document.createElement("strong")
                                nameDIV.appendChild(name)
                                name.innerHTML = "{{player.name}}"

                                const position = document.createElement("div")
                                position.setAttribute("class", "col-2")
                                
                                if("{{ guess_this_player.position }}" === "{{ player.position }}"){
                                    position.innerHTML = "✔ {{ player.position }}";
                                    position.style.backgroundColor = "#6fcf6f";
                                    position.style.borderRadius = "3px";
                                    position.style.margin = "0 10px";
                                    
                                }else{
                                    position.innerHTML = "{{ player.position }}";
                                }

                                const team = document.createElement("div")
                                team.setAttribute("class", "col-2")

                                if("{{ guess_this_player.team }}" === "{{ player.team }}"){
                                    team.innerHTML = "✔ {{ player.team }}";
                                    team.style.backgroundColor = "#6fcf6f";
                                    team.style.borderRadius = "3px";
                                    team.style.margin = "0 10px";
                                    
                                }else{
                                    team.innerHTML = "{{ player.team }}";
                                }



                                const goals = document.createElement("div")
                                goals.setAttribute("class", "col-2")

                                if("{{ guess_this_player.goals}}" === "{{ player.goals}}"){
                                    goals.innerHTML = "✔ {{ player.goals }}";
                                    goals.style.backgroundColor = "#6fcf6f";
                                    goals.style.borderRadius = "3px";
                                    goals.style.margin = "0 10px";

                                }else if(Math.abs(parseInt("{{ guess_this_player.goals }}") - parseInt("{{ player.goals }}")) <= 2){
                                    goals.innerHTML = "{{ player.goals }}";
                                    goals.style.backgroundColor = "#f5c542"; 
                                    goals.style.borderRadius = "3px";
                                    goals.style.margin = "0 10px";
                                    
                                }else{
                                    goals.innerHTML = "{{ player.goals }}"
                                }

                                const assists = document.createElement("div")
                                assists.setAttribute("class", "col-2")
                                
                                if("{{ guess_this_player.assists}}" === "{{ player.assists}}"){
                                    assists.innerHTML = "✔ {{ player.assists }}";
                                    assists.style.backgroundColor = "#6fcf6f";
                                    assists.style.borderRadius = "3px";
                                    assists.style.margin = "0 10px";

                                }else if(Math.abs(parseInt("{{ guess_this_player.assists }}") - parseInt("{{ player.assists }}")) <= 2){
                                    assists.innerHTML = "{{ player.assists }}";
                                    assists.style.backgroundColor = "#f5c542"; 
                                    assists.style.borderRadius = "3px";
                                    assists.style.margin = "0 10px";

                                }else{
                                    assists.innerHTML = "{{ player.assists }}"
                                }

                                const league = document.createElement("div")
                                league.setAttribute("class", "col-2")
                                
                                if("{{ guess_this_player.league }}" === "{{ player.league }}"){
                                    league.innerHTML = "✔ {{ player.league }}";
                                    league.style.backgroundColor = "#6fcf6f";
                                    league.style.borderRadius = "3px";
                                    league.style.margin = "0 10px";
                                    
                                }else{
                                    league.innerHTML = "{{ player.league }}";
                                }

                                const age = document.createElement("div")
                                age.setAttribute("class", "col-2")
                                
                                if("{{ guess_this_player.age}}" === "{{ player.age}}"){
                                    age.innerHTML = "✔ {{ player.age}}";
                                    age.style.backgroundColor = "#6fcf6f";
                                    age.style.borderRadius = "3px";
                                    age.style.margin = "0 10px";

                                }else if(Math.abs(parseInt("{{ guess_this_player.age }}") - parseInt("{{ player.age }}")) <= 2){
                                    age.innerHTML = "{{ player.age }}";
                                    age.style.backgroundColor = "#f5c542"; 
                                    age.style.borderRadius = "3px";
                                    age.style.margin = "0 10px";

                                }else{
                                    age.innerHTML = "{{ player.age }}";
                                }

                                const nationality = document.createElement("div")
                                nationality.setAttribute("class", "col-2")
                                                                
                                if("{{ guess_this_player.nationality }}" === "{{ player.nationality }}"){
                                    nationality.innerHTML = "✔ {{ player.nationality }}";
                                    nationality.style.backgroundColor = "#6fcf6f";
                                    nationality.style.borderRadius = "3px";
                                    nationality.style.margin = "0 10px";
                                    
                                }else{                                    
                                    nationality.innerHTML = "{{ player.nationality }}";
                                }


                                outerDIV.appendChild(position)
                                outerDIV.appendChild(team)
                                outerDIV.appendChild(goals)
                                outerDIV.appendChild(assists)
                                outerDIV.appendChild(league)
                                outerDIV.appendChild(age)
                                outerDIV.appendChild(nationality)
                            }
                            console.log(guesses)
                        }
                    "{% endfor %}"
                "{% endfor%}"                
            }else{
                win = false; 
                endGame(win);
            }
        })

        function endGame(win){
            if(win){
                //winning functionality 
                console.log("YOU WIN");
                const modal = new bootstrap.Modal(document.getElementById('winModal'));
                modal.show();
            }else{
                //losing functionality 
                console.log("YOU LOSE");
                const modal = new bootstrap.Modal(document.getElementById('loseModal'));
                modal.show();
            }
        }

        
    </script>
</body>
</html>